.wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #272B30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}